body {
  color: #000303;
}

h1 {
  text-align: center;
}

.menu-description {
  margin-top: 15px;
}

.add-menu {
  position: absolute;
  right: 5px;
}

.control-menu {
  font-size: xx-large;
}

.content-menu {
  font-size: x-large;
}

.modal-header .close {
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
}

.container .content {
  border-bottom: solid 1px black;
}
